.image-container {
  background: url("../images/snow.jpg") center center no-repeat;
  background-size: cover;
}
.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
}
.bold {
  font-weight: bold;
  color: black;
}
.slide-button {
  display: inline;
  font-size: 48px;
  cursor: pointer;
}
.slide-button-list {
  white-space: nowrap;
  color: gray;
}
.top-row {
  margin-top: 64px;
}
.nav-wrapper {
  background-color: #dd0000;
}
