.side-nav {
  left: 0px;
  margin-top: 64px;
  color: black;
}
.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
}
p {
  color: black;
}
.main-text.changeme {
  margin-left: 20px;
  margin-right: 20px;
}
.nav-wrapper {
  background-color: #dd0000;
}
.invisible {
  color: white;
}
.main-text {
  margin-top: 104px;
}
.anchor {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}
.top-anchor {
  display: block;
  position: relative;
  top: -81px;
  visibility: hidden;
}
