doctype html
html(language="en" ng-app="mainModule")

  head
    link(type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/index.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
    script(src="./scripts/main.js")
    script(src="./scripts/coursework.controller.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
  body
    div
      //- navbar
      div.navbar-fixed
        nav
          div.nav-wrapper
            a.brand-logo.center.fixed.title About Me
            a.button-collapse(href="#" data-activates="mobile-demo")
              i.material-icons menu
            ul.right.hide-on-med-and-down
              li
                a(href="aboutme.html") About Me
              li 
                a(href="./resume.pdf") Resume
              li
                a(href="timeline.html") Work Experience
              li
                a(href="coursework.html") Coursework
              li
                a(href="index.html") Home
            ul.side-nav(id="mobile-demo")
              li
                a(href="aboutme.html") About Me
              li 
                a(href="./resume.pdf") Resume
              li
                a(href="timeline.html") Work Experience
              li
                a(href="coursework.html") Coursework
              li
                a(href="index.html") Home
      //- page content
      div.container
        div.row
          div.col.s12.m12.l12
            p I am currently a junior at Massachusetts Institute of Technology pursuing a Bachelor's of Science degree 
              | in computer science and a Minor in Philosophy. Ever since I played my first video game (Pokemon Crystal) as a child, I've been 
              | amazed and inspired by what computers can do. This love of computers and video games led me to become interested in  
              | math, programming, algorithms, and theoretical computer science.
            p Most recently, I was employed as a software engineering intern at 
              a(href="http://www.ultimatesoftware.com") Ultimate Software 
              | for the summer, where I worked on both front-end and back-end development and writing unit tests. Before that, I was a grader at MIT for course
              | 6.006: Introduction to Algorithms, 
              | and the semester before that I was a lab assistant for course 6.01: Introduction to Electrical Engineering and Computer Science.
              | In high school, I tutored other students in math as part of the National Honor Society. 
            p In my free time I enjoy playing video games, watching TV and movies, coding, and playing tennis.
            img.responsive-img(src="./images/PalmTrees.jpg" alt="Sunny South Florida")
            
