doctype html
html(language="en" ng-app="mainModule")

  head
    link(type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/index.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    script(src="./scripts/main.js")
    script(src="./scripts/main.controller.js")
    
  body(ng-controller="mainController")
    div
      //- navbar
      nav.top-nav
        div.nav-wrapper
          a.brand-logo.center.fixed Antonio Rivera
          ul.right
            li
              a About Me
            li 
              a Resume
            li
              a(href="timeline.html") Work Experience
            li
              a Hobbies and Interests
      //- page content
      div.container
        div.row.top-row
          div.col.s12.m12.l12
            p 
              | Welcome to my website. It is currently under construction. 
              | I am computer science major at Massachusetts Institute of Technology. I am currently a 
              | junior, and I am planning to graduate with a bachelor's degree after the fall term of 
              | my senior year. 
        div.row
          div.col.s12.m12.l12
            img.responsive-img(id="slide" src="./images/MIT.jpg")
        div.row
          div.col.s12.m12.l12
            ul.slide-button-list.center
              li.slide-button(ng-repeat="image in slideImages track by $index" ng-click="setImage($index); toggleBold($index);") &bull;
              
        center 
          a.center(href='mailto:anr@mit.edu') Contact Me
