doctype html
html(language="en")

  head
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    
  body
    div(ng-app="")
      ul
        li
          a About Me
        li 
          a Resume
        li
          a(href="timeline.html") Work Experience
        li
          a Hobbies and Interests
      h1 Antonio Rivera
      p 
        | Welcome to my website. It is currently under construction.
        br 
        | UPDATE 7/15/15: The Work Experience page is functional. Probably should have started working on this page first...
      a(href='mailto:anr@mit.edu') Contact Me
