doctype html
html(language="en" ng-app="mainModule")

  head
    link(type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/index.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
    script(src="./scripts/main.js")
    script(src="./scripts/main.controller.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
  body(ng-controller="mainController")
    div
      //- navbar
      div.navbar-fixed
        nav
          div.nav-wrapper
            a.brand-logo.center.fixed.title Antonio Rivera
            a.button-collapse(href="#" data-activates="mobile-demo")
              i.material-icons menu
            ul.right.hide-on-med-and-down
              li
                a(href="aboutme.html") About Me
              li 
                a(href="./resume.pdf") Resume
              li
                a(href="timeline.html") Work Experience
              li
                a(href="coursework.html") Coursework
              li
                a(href="index.html") Home
            ul.side-nav(id="mobile-demo")
              li
                a(href="aboutme.html") About Me
              li 
                a(href="./resume.pdf") Resume
              li
                a(href="timeline.html") Work Experience
              li
                a(href="coursework.html") Coursework
              li
                a(href="index.html") Home
      //- page content
      div.container
        div.row
          div.col.s12.m12.l12
            p 
              | Welcome to my website! It is now finished (for the time being), so both desktop and mobile views should be displaying correctly. 
              | If you encounter any bugs, please contact me below.
              //- | I am a computer science major at Massachusetts Institute of Technology. I'm currently a 
              //- | junior, and I plan to graduate with a bachelor's degree after the fall term of 
              //- | my senior year. 
        div.row
          div.col.s12.m12.l12
            img.responsive-img(id="slide" src="./images/MIT.jpg")
        div.row
          div.col.s12.m12.l12
            ul.slide-button-list.center
              li.slide-button(ng-repeat="image in slideImages track by $index" ng-click="setImage($index); toggleBold($index);") &bull;
              
        center 
          a.center(href="mailto:anr@mit.edu") Contact Me
