<!DOCTYPE html>
<html language="en" ng-app="mainModule">
  <head>
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="./scripts/main.js"></script>
    <script src="./scripts/main.controller.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body ng-controller="mainController">
    <div>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper"><a class="brand-logo center fixed">Antonio Rivera</a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="aboutme.html">About Me</a></li>
              <li> <a href="./resume.pdf">Resume</a></li>
              <li><a href="timeline.html">Work Experience</a></li>
              <li><a href="coursework.html">Coursework</a></li>
              <li><a href="index.html">Home</a></li>
            </ul>
            <ul id="mobile-demo" class="side-nav">
              <li><a href="aboutme.html">About Me</a></li>
              <li> <a href="./resume.pdf">Resume</a></li>
              <li><a href="timeline.html">Work Experience</a></li>
              <li><a href="coursework.html">Coursework</a></li>
              <li><a href="index.html">Home</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <p>
               
              Welcome to my website! It is now finished (for the time being), so both desktop and mobile views should be displaying correctly. 
              If you encounter any bugs, please contact me below.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12"><img id="slide" src="./images/MIT.jpg" class="responsive-img"></div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="slide-button-list center">
              <li ng-repeat="image in slideImages track by $index" ng-click="setImage($index); toggleBold($index);" class="slide-button">&bull;</li>
            </ul>
          </div>
        </div>
        <center> <a href="mailto:anr@mit.edu" class="center">Contact Me</a></center>
      </div>
    </div>
  </body>
</html>