doctype html
html(language='en')

  head
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js')
    
  body
    div(ng-app="")
      ul
        li
          a About Me
        li 
          a Resume
        li
          a Work Experience
        li
          a Hobbies and Likes
      h1 Antonio Rivera
      p Welcome to my website. It is currently under construction.
      a(href='mailto:anr@mit.edu') Contact Me
