doctype html
html(language="en")
  head
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    link(type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/timeline.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    header
      nav.top-nav
        div.nav-wrapper
          a.brand-logo.center.fixed Work Timeline
          ul.right
            li
              a.left.fixed About Me
            li
              a.left.fixed Resume
            li
              a.left.fixed Hobbies and Interests
            li
              a.left.fixed(href="index.html") Home
        ul.side-nav.fixed(id="nav-mobile")
          li 
            a(href="#2012") 2012
          li 
            a(href="#2013") 2013
          li 
            a(href="#2014") 2014
          li
            a(href="#2015") 2015
    main
      div.row
        div.col.s3.m3.l3
          p.invisible .
        div.col.s8.m8.l8
          div.main-text
            a.top-anchor(name="2012")
            h1 2012
            hr
            p
              | In 11th grade I took an Intro to Game Programming course at 
              a(href="http://www.kent.k12.wa.us/KR") Kentridge High School
              |. As my final project, I wrote a two-player game in C# and XNA. The game was a 2D shooter where 
              | competing players attempted to reduce the lifebar of their opponent to zero. 
              | The game used a simple collision-detection algorithm and a 2D integer array to store, render 
              | and allow players to interact with the stages.
              br
              br
              br
            a.anchor(name="2013")
            h1 2013
            hr
            p
              | In 12th grade, as a final project for AP Computer Science, I wrote a single-player platformer/2D-shooter. 
              | The player had to move and jump to avoid enemy attacks, and had the ability to 
              | shoot at enemies and slow down time. It featured several different levels and two bosses. It utilized an 
              | an a posteriori collision-detection system and a 2D integer array to store level data.
              br
              a(href="https://github.com/antoniorivera/Old-Java-Project") Source Code and Executable .jar File
              br
              br
              br
            a.anchor(name="2014")
            h1 2014
            hr
            p 
              | In the summer following my freshman year at 
              a(href="http://www.mit.edu") Massachusetts Institute of Technology, 
              | I worked on programming a small game in C++ and an open-source multimedia library called 
              a(href="http://www.sfml-dev.org/") SFML. 
              | It is a 2D shooter that uses both a keyboard and mouse. There are multiple screesn for the player 
              | to explore, as well as some simple enemies and the beginning of a puzzle. This game involved more complex 
              | sprite sheets, as well as some animation in the background tiles. The game is incomplete, but I wrote enough 
              | code for it to be playable.
              br
              a(href="https://github.com/antoniorivera/Aftermath-Game") Source Code and Executable File
              br
              br
              | I also began another game, this time a sidescroller. This time my goal was to make the collision detection 
              | and rendering as efficient as possible. I also created a way to convert images into level data, 
              | so that the level creation process would be much faster than before. This game, though it is more of a prototype, 
              | features animation in the main character and the single enemy. Collision detection between the player and the 
              | environment is fully functional, but player-enemy detection has not yet been implemented. The included level 
              | features both horizontal and vertical scrolling, something I had not included in any prior games.
              br
              a(href="https://github.com/antoniorivera/Sidescroller-Game") Source Code and Executable File
              br
              br
              br
            a.anchor(name="2015")
            h1 2015
            hr
            p
              | In the summer after my sophomore year of college, I worked at 
              a(href="http://www.ultimatesoftware.com/") Ultimate Software 
              | as a software engineering intern. More information will be included following the completion of the internship.
              
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/materialize.js")
